@import '../scss/utils/variables';
@import '../scss/utils/mixins';

.form{
  height: 100%;
  overflow: scroll;
  padding: $layout__standard-spacing $layout__large-spacing;
}

.form__body {
  position: relative;
  padding: $layout__standard-spacing;
  margin-bottom: $layout__standard-spacing;
  background: $color__background-three;
  flex-wrap: nowrap;
}

.form__group{
  width: 100%;
  float: left;
  margin-bottom: $layout__standard-spacing;
}

.form__remove-button{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 30px;
  cursor: pointer;
  &:after{
    @include x-button;
  }
}
