@import '../scss/utils/variables';

.header {
  height: $layout__large-spacing * 1.5;
  padding-top: $layout__large-spacing * 0.75;
  padding-left: $layout__standard-spacing;
  padding-right: $layout__standard-spacing;
  color: $white;
  overflow: hidden;
}

.header--intro { background: $color__intro; }
.header--applicant { background: $color__applicant; }
.header--household { background: $color__household; }
.header--contact { background: $color__contact; }
.header--review { background: $color__review; }
