@import '../scss/utils/variables';
.intro-page{
  padding-top: $layout__large-spacing * 2;
  background: $color__intro;
  color: $white;
  height: 100%;
}

.terms-and-conditions{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: $color__background-one;
  opacity: 1;
}

.terms-scrollable{
  background: white;
  height: 50%;
  margin: $layout__standard-spacing;
  padding: $layout__mid-spacing;
  overflow: scroll;
  color: $color__dark-text;
  text-align: left;
}

.terms-text{
  width: 60%;
  margin-top: $layout__large-spacing;
  color: $color__dark-text;
  text-align: left;
}

.terms-and-conditions--hide{
  visibility: hidden;
  opacity: 0;
}

.about{
  background: $color__background-one;
  width: 100%;
  text-align: left;
}

.image{
  height: 330px;
  width: 330px;
  background-image:'../assets/images/1234.png';
}