@import '../scss/utils/variables';

.sidebar {
  height: 100%;
  overflow: scroll;
  background: $color__background-two;
  padding-top: $layout__standard-spacing;
}

.side-textblock {
  padding: $layout__standard-spacing;
}

.accordian-textblock {
  width: 100%;
  padding: $layout__standard-spacing;
  background: $color__sidebar-hover;
  margin-bottom: 2px;
}