// Shades of gray
$white: #FFF;
$off-white: #F9F9F9;
$gray--lightest: #E0E0E0;
$gray--light: #bdbdbd;
$gray: #616161;
$gray--dark: #424242;
$gray--darkest: #333333;
$black: #000;

// Site colors
$color__background-one: #F7F7F7;
$color__background-two: #F2F2F2;
$color__background-three: #FFFFFF;

$color__primary: #54c4c6;
$color__primary-hover: #3aa4a6;
$color__info: #00c7fb;
$color__dark-text: #736461;

$color__intro: #FFC426;
$color__applicant: #FFC426;
$color__household: $color__primary;
$color__contact: #ED715C;
$color__review: #32AB68;